.alignleft
{
    float: left;

    margin-right: $spacer-3;
}

.alignright
{
    float: right;

    margin-left: $spacer-3;
}

.aligncenter
{
    display: block;
    clear: both;

    margin-right: auto;
    margin-left: auto;
}


