.bg-primary {
    background-color: $c-primary !important;
}

.bg-light-primary {
    background-color: $c-light-primary !important;
}

.bg-dark-primary {
    background-color: $c-dark-primary !important;
}


.bg-secondary {
    background-color: $c-secondary !important;
}

.bg-light-secondary {
    background-color: $c-light-secondary !important;
}

.bg-dark-secondary {
    background-color: $c-dark-secondary !important;
}


.bg-white {
    background-color: $c-white !important;
}

.bg-light-grey {
    background-color: $c-light-grey !important;
}

.bg-medium-grey {
    background-color: $c-medium-grey !important;
}

.bg-dark-grey {
    background-color: $c-dark-grey !important;
}

.bg-black {
    background-color: $c-black !important;
}


.clr-primary {
    color: $c-primary !important;
}

.clr-light-primary {
    color: $c-light-primary !important;
}

.clr-dark-primary {
    color: $c-dark-primary !important;
}


.clr-secondary {
    color: $c-secondary !important;
}

.clr-light-secondary {
    color: $c-light-secondary !important;
}

.clr-dark-secondary {
    color: $c-dark-secondary !important;
}


.clr-white {
    color: $c-white !important;
}

.clr-light-grey {
    color: $c-light-grey !important;
}

.clr-medium-grey {
    color: $c-medium-grey !important;
}

.clr-dark-grey {
    color: $c-dark-grey !important;
}

.clr-black {
    color: $c-black !important;
}