@mixin grid-container
{
    display: grid;
    align-content: center;

    width: 100%;
    margin: 0 auto;

    grid-template-rows: auto;
    grid-column-gap: $spacer-3;
    
}
 
.grid-1-sm {
    grid-template-columns: 1fr;
    @include grid-container;
}

.grid-2-sm {
    grid-template-columns: auto 1fr;
    @include grid-container;
}
  
.grid-lmt {
    max-width: $container-width;
}

.grid-jst-end {
    justify-items: end;
}

@media (min-width: $breakpoint-small)
{
    .grid-2-md {
        justify-items: end;
        grid-template-columns: auto 1fr;
        @include grid-container;
    }
}

