/**
 * Name: _typography.scss
 * Version: 1.0.0
**/


/**---- HMTL ----*/

html {
    font-family: $primary-font-family;
    font-size: 100%;
    line-height: $primary-line-height;
}


/**---- Headlines ----*/

h1,
.h1 {
    margin-top: 0;
    margin-bottom: $spacer-4;

    font-size: $small-h1-size;
    font-weight: normal;
    line-height: $header-line-height;

    @include breakpoint(md) {
        font-size: $large-h1-size;
    }
}

h2,
.h2 {
    color: $c-primary;
    margin: $spacer-3 0;

    font-size: $small-h2-size;
    font-weight: normal;
    line-height: $header-line-height;

    @include breakpoint(md) {
        margin: $spacer-4 0;

        font-size: $large-h2-size;
    }
}

h3,
.h3 {
    margin-top: $spacer-6;
    margin-bottom: $spacer-1;

    font-size: $small-h3-size;
    font-weight: bold;
    line-height: $header-line-height;

    @include breakpoint(md) {
        font-size: $large-h3-size;
    }

    +ul {
        margin-top: 0;
    }
}


/**---- BASE ELEMENTS ----*/

p,
.p {
    margin-top: 0;
    margin-bottom: $spacer-4;

    font-size: $base-font-size;

}

strong,
.strong {
    font-weight: bold;
}

blockquote,
.blockquote {
    margin-left: 0;
    padding: 0 0 0 $spacer-4;

    border-left: 2px solid $c-primary;

    >p,
    >.p {
        margin: 0 0 $spacer-4;
    }

    cite,
    .cite {
        color: $c-dark-grey;
    }
}

hr,
.hr {
    margin: $spacer-6 0;

    border: 0;
    border-top: 1px solid $c-black;
}


ul:not([class]),
ol:not([class]),
.ul,
.ol {
    margin-top: $spacer-4;
    margin-bottom: $spacer-4;
    padding-left: $spacer-4;

    li {
        margin-top: $spacer-1;
        margin-bottom: $spacer-1;

        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

}

a,
.a {
    text-decoration: none;

    color: $c-primary;
}

.fs-small {
    font-size: $small-font-size;
}

.fs-base {
    font-size: $small-font-size;
}

.fs-large {
    font-size: $small-font-size;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}