.hd-sm {
    display: none;
}

.sh-sm {
    display: block;
}


@include breakpoint(md) {

    .hd-md {
        display: none;
    }

    .sh-md {
        display: block;
    }
}

@include breakpoint(lg) {

    .hd-lg {
        display: none;
    }

    .sh-lg {
        display: block;
    }

}