/**
 * Name: Topbar.scss
 * Version: 1.0.0
**/


#topbar {
    position: relative;

    width: 100%;
    height: $topbar-height;

    .branding {
        position: relative;

        height: $topbar-height;

        transition: opacity $transition-long;

        img {
            width: auto;
            height: 100%;
        }
    }
}

@import 'topbar-burger-button';