/**
 * Name: TopbarBurgerButton.scss
 * Version: 1.0.0
**/

$stripes--height: 2px;
$stripes--border-radius: 1px;


.burger--button
{
    position: relative;

    height: 100%;
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
    background: transparent;

    &:not(.disabled):focus,
    &:not(.disabled):hover
    {
        outline: none;
        background: transparent;
    }

    span 
    {
        color: $c-black;
        position: relative;
    }

    .stripes
    {
        position: relative;
        width: $spacer-5;
        height: $spacer-5;

        margin: 0 auto;

        *
        {
            position: absolute;

            display: block;

            width: 100%;
            height: $stripes--height;

            border-radius: $stripes--border-radius;
            background: $c-black;
        }

        .top
        {
            top: 5px;
        }

        .mid 
        {
            top: 50%;
            transform: translateY(-50%);
        }

        .bot
        {
            bottom: 5px;
        }
    }

    &.active
    {
        .stripes
        {
            *
            {
                opacity: .5;
            }
        }
    }
}