/**
 * Name: Base.scss
 * Version: 1.0.0
**/


html
{
    box-sizing: border-box;
    overflow-x: hidden;
}

::-moz-selection
{
    background-color: $c-primary;
}

::selection
{
    background-color: $c-primary;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

img
{
    position: relative;

    max-width: 100%;
    height: auto;
}

figure
{
    margin: 0;
}


embed,
iframe,
object
{
    max-width: 100%;

    border: none;
}