/**
 * Name: Button.scss
 * Version: 1.0.0
**/


button,
.btn {
    display: block;

    width: auto;
    margin-bottom: 0;
    padding: $spacer-2 $spacer-3;

    cursor: pointer;
    transition: all $transition-long ease;
    text-align: center;
    letter-spacing: .05em;

    color: $c-white;
    border: none;
    border-radius: 24px;
    background: $c-primary;

    font-size: $base-font-size;
    line-height: $header-line-height;

    -webkit-appearance: none;

    &.disabled {
        opacity: .5;
    }

    &:not(.disabled):hover,
    &:not(.disabled):focus {
        color: $c-white;
        outline: none;
        background: $c-primary;
    }
}