/**
 * Name: EnhancedGalery.scss
 * Version: 1.0.0
**/


.enhanced-galery {
    position: fixed;
    z-index: 9999999;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background: transparentize($c_black, 0.1);



    img {
        display: block;

        max-width: calc(100vw - (2 * #{$spacer-6}));
        max-height: calc(100vh - (2 * #{$spacer-6}));

        box-shadow: 0 0 50px 10px $c_black;
    }
}