/**
 * Name: Hero.scss
 * Version: 1.0.0
**/


#hero {

    .head-content {
        position: relative;

        overflow: hidden;

        width: 100%;
        max-width: $masthead-width;
        height: 36rem;
        margin: 0 auto;

        background-image: url(media/hero.jpg);
        background-size: cover; 

        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: '';
        }

        &:before {
            z-index: 2;

            opacity: .2;
            background: $c-primary;

            mix-blend-mode: screen;
        }

        &:after {
            z-index: 3;

            opacity: 0;
            background: $c-black;

            mix-blend-mode: multiply;
        }

        .slogan {

            z-index: 1;
            position: relative;

            * {
                display: block;
                text-align: left;
            }

            .amp {
                font-size: 236px;
                font-weight: bold;
                color: #F49600;
                position: absolute;
                top: -26px;
                right: -24px;
                z-index: -1;
                opacity: 0.8;
            }

            .subline {
                font-size: $large-font-size;
                background: white;

                display: inline-block;

                &.last {
                    margin-top: -$spacer-3;
                }
            }

        }

    }

    .phone-slide {
        margin-top: -$spacer-9;

        max-width: $container-width;

        line-height: 0;
    }
}