/**
 * Name: Masthead.scss
 * Version: 1.0.0
**/


#masthead {
    figure.featured-image {
        position: relative;

        overflow: hidden;

        width: 100%;
        max-width: $masthead-width;
        max-height: $masthead-height * .4;
        margin: 0 auto;

        line-height: 0;

        &.front-page {
            max-height: $masthead-height;
        }

        figcaption {
            position: absolute;
            z-index: 4;
            bottom: 0;
            left: 0;
        }

        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: '';
        }

        &:before {
            z-index: 2;

            opacity: .2;
            background: $c-secondary;

            mix-blend-mode: screen;
        }

        &:after {
            z-index: 3;

            opacity: 0.2;
            background: $c-secondary;

            mix-blend-mode: multiply;
        }

    }
}