/**
 * Name: Menu.scss
 * Version: 1.0.0
**/


/**---- Menu Mobile ----*/

.menu-container {
    position: absolute;
    z-index: 999;
    
    top: $topbar-height;
    right: -100%;

    width: 100%; 
    height: auto;

    transition: right $transition-long;
    text-align: left;

    @include breakpoint(md) {
        top: $topbar-height + $spacer-4;
        width: 50%;
    }

    &.active {
        right: 0;
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style-type: none;

        display: block;

        &:not(:last-child) {
            margin-bottom: $spacer-3;
            padding-bottom: $spacer-3;
        }


        li a,
        .menu--item {
            display: block;

            margin: 0 $spacer-4;
            padding: $spacer-3 0;

            color: $c-black;
            font-size: $mobile-menu-font-size;
            line-height: $header-line-height;
        }

        &.icon {
            display: none; // flex

            li a,
            .menu--item {
                padding: $spacer-3 0;
            }
        }
    }

    .sub-menu {
        margin: $spacer-4;
        padding: 0;
        list-style-type: none;

        li{
            display: inline-block;

            a,
            .menu--item {
                display: inline-block;

                margin: 0 $spacer-4;
                padding: $spacer-3 0;

                color: $c-dark-grey;
                font-size: $large-font-size;
                line-height: $header-line-height;
            }
        }
    }
}