/**
 * Name: Table.scss
 * Version: 1.0.0
**/

table
{
    width: 100%;
    margin: 0 0 $spacer-4;

    border-collapse: collapse;

    td,
    th
    {
        padding: $spacer-2;

        word-break: break-all;

        border: 1px solid $c-dark-grey;
    }
}
