/**---- Colors ----*/

// Define Primary & Secondary Color, generate shades
$c-primary: #114e98;
$c-light-primary: lighten($c-primary, 30%);
$c-dark-primary: darken($c-primary, 15%);

$c-secondary: #F49600;
$c-light-secondary: lighten($c-secondary, 30%);
$c-dark-secondary: darken($c-secondary, 30%);


// Define shades of grey
$c-white: #fff;
$c-light-grey: #eee;
$c-medium-grey: #ccc;
$c-dark-grey: #444;
$c-black: #191919;


// User interface colors
$c-sucess: #1bb21b;
$c-warning: #f60;
$c-alert: #e83b11;