/**
 * Name: _globals.scss
 * Version: 1.0.0
**/

@import 'colors';
@import 'typography';
@import 'layout';

/**---- Transition Properties ----*/

$transition-short: 110ms;
$transition-medium: 150ms;
$transition-long: 200ms;