/**---- Layout Variables ----*/

// Spacer:
// 0 => 0
// 1 => 0.25rem (4px)
// 2 => 0.5rem (8px)
// 3 => 1rem (16px)
// 4 => 1.5rem (24px)
// 5 => 2rem (32px)
// 6 => 2.5rem (40px)
// 7 => 3rem (48px)
// 8 => 3.5rem (56px)
$spacer: 1rem !default;
$spacers: (0,
$spacer * .25,
$spacer * .5,
$spacer,
$spacer * 1.5,
$spacer * 2,
$spacer * 2.5,
$spacer * 3,
$spacer * 3.5,
$spacer * 4) !default;

// Aliases for easy use
$spacer-0: nth($spacers, 1) !default;
$spacer-1: nth($spacers, 2) !default;
$spacer-2: nth($spacers, 3) !default;
$spacer-3: nth($spacers, 4) !default;
$spacer-4: nth($spacers, 5) !default;
$spacer-5: nth($spacers, 6) !default;
$spacer-6: nth($spacers, 7) !default;
$spacer-7: nth($spacers, 8) !default;
$spacer-8: nth($spacers, 9) !default;
$spacer-9: nth($spacers, 10) !default;


/**---- Layout Elements ----*/

// define gutter width (for cols, margins etc.)
$block-width: 48rem !default;
$container-width: 80rem !default;

$masthead-width: 100% !default;
$masthead-height: 70vh !default;

// define topbar height
$topbar-height: 4rem !default;


/**---- Breakpoints ----*/

// Define breakpoint widths
$breakpoint-small: 36em !default;
$breakpoint-medium: 62em !default;
$breakpoint-large: 82em !default;

// Breakpoints
$breakpoints: ( // small mobile
sm: $breakpoint-small,
// Large screen / desktop
md: $breakpoint-medium,
// Extra large screen / wide desktop
lg: $breakpoint-large) !default;

$responsive-variants: ("": "");

@each $key in map-keys($breakpoints) {
  $responsive-variants: map-merge($responsive-variants, ($key: "-#{$key}"));
}