/**---- Typography ----*/

// Font stack
$primary-font-family: -apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;


/**---- Base ----*/

// sizes
$x-small-font-size: .6rem;
$small-font-size: .8rem;
$base-font-size: 1rem;
$large-font-size: 1.3rem;

// line heights
$primary-line-height: 1.5;
$header-line-height: 1.35;
$double-line-height: $primary-line-height * 2;


/**---- Headlines ----*/

// define h1 (s, l)
$small-h1-size: 2rem;
$large-h1-size: 3.25rem;

// define h2 (s, l)
$small-h2-size: 1.5rem;
$large-h2-size: 2rem;

// define h3 (s, l)
$small-h3-size: 1.25rem;
$large-h3-size: 1.5rem;


/**---- Elements ----*/

$mobile-menu-font-size: 2rem;